<div class="navbar navbar-fixed-top nav-main" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{request.route_url('home')}}">PyMarket</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{request.route_url('settings', id=request.user._id)}}">My Settings</a></li>
				<li><a href="{{request.route_url('signout')}}">Exit</a></li>
			  </ul>
		</div>
	</div>
</div>