{% extends 'templates/base/sys.jinja2' %}

{% block page_title %}
	Home
{% endblock %}

{% block page_css %}
{% endblock %}

{% block page_content %}

	<div class="row">
		<div class="col-sm-12">
			<div class="content text-center">
				<h1>PyMarket</h1>
				<br>
				<p>A small pyramid application to study framework features and simulate a shopping cart.</p>
			</div>
		</div>
	</div>

{% endblock %}

{% block page_js %}
{% endblock %}